<!-- SIDEBAR -->
<aside class="site-sidebar scrollbar-enabled clearfix">
    <!-- User Details -->
    <div class="side-user">
        <a class="col-sm-12 media clearfix" href="javascript:void(0);">
            <figure class="media-left media-middle user--online thumb-sm ml-r-10 ml-b-0">
                <img src="/assets/demo/users/user-image.png" class="media-object rounded-circle" alt="">
            </figure>
            <div class="media-body hide-menu">
                <h4 class="media-heading ml-b-5 text-uppercase">Scott Adams</h4><span class="user-type fs-12">Edit Profile (...)</span>
            </div>
        </a>
        <div class="clearfix"></div>
        <ul class="nav in side-menu">
            <li><a href="page-profile.html"><i class="list-icon material-icons">face</i> My Profile</a>
            </li>
            <li><a href="app-inbox.html"><i class="list-icon material-icons">mail_outline</i> Inbox</a>
            </li>
            <li><a href="page-lock-screen.html"><i class="list-icon material-icons">settings</i> Lock Screen</a>
            </li>
            <li><a href="page-login.html"><i class="list-icon material-icons">settings_power</i> Logout</a>
            </li>
        </ul>
    </div>
    <!-- /.side-user -->
    <!-- Sidebar Menu -->
    <nav class="sidebar-nav">
        <ul class="nav in side-menu">
            <li class="<% if( locals.dashboard ){ %>current-page<% } %>"><a href="/admin/dashboard" class="ripple"><span class="<% if( locals.dashboard ){ %>color-color-scheme<% } %>"><i
                class="list-icon material-icons">library_books</i> <span class="hide-menu">Dashboard</span></span></a>
                
            </li>
            <li class="<% if( locals.User ){ %>current-page<% } %>"><a href="/admin/users" class="ripple"><span class="<% if( locals.User ){ %>color-color-scheme<% } %>"><i
                class="list-icon material-icons">library_books</i> <span class="hide-menu">Users</span></span></a>
                
            </li>
            <li class="<% if( locals.Lesson || locals.category ){ %>current-page<% } %> menu-item-has-children"><a href="javascript:void(0);" class="ripple"><span class="<% if( locals.Lesson || locals.category ){ %>color-color-scheme<% } %>"><i
                            class="list-icon material-icons">library_books</i> <span class="hide-menu">Lesson</span></span></a>
                <ul
                        class="list-unstyled sub-menu">
                    <li><a href="/admin/lessons">Lessons</a>
                    </li>
                    <li><a href="/admin/add-lesson">Add Lesson</a>
                    </li>
                    <li><a href="/admin/categories">Categories</a>
                    </li>
                    <li><a href="/admin/add-category">Add Category</a>
                    </li>
                </ul>
            </li>
            <li class="<% if( locals.Test ){ %>current-page<% } %> menu-item-has-children"><a href="javascript:void(0);" class="ripple"><span class="<% if( locals.Test ){ %>color-color-scheme<% } %>"><i class="list-icon material-icons">content_paste</i> <span class="hide-menu">Test</span></span></a>
                <ul class="list-unstyled sub-menu">
                    <li><a href="/admin/tests">Tests</a>
                    </li>
                    <li><a href="/admin/add-test">Add Test</a>
                    </li>
                </ul>
            </li>
            <li class="<% if( locals.Practice ){ %>current-page<% } %> menu-item-has-children"><a href="javascript:void(0);" class="ripple"><span class="<% if( locals.Practice ){ %>color-color-scheme<% } %>"><i
                            class="list-icon material-icons">view_list</i> <span class="hide-menu">Practice</span></span></a>
                <ul class="list-unstyled sub-menu">
                    <li><a href="/admin/practices">Practices</a>
                    </li>
                    <li><a href="/admin/add-practice">Add Practice</a>
                    </li>
                </ul>
            </li>
            <li><a href="/logout"><i class="list-icon material-icons">settings_power</i> <span
                            class="hide-menu">Log Out</span></a>
            </li>
        </ul>
        <!-- /.side-menu -->
    </nav>
    <!-- /.sidebar-nav -->
</aside>
<!-- /.site-sidebar -->