<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">

<head>
    <% include ../partials/head %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.1.7/css/ion.rangeSlider.min.css" rel="stylesheet" type="text/css">
    <style>
        .hide {
            display: none !important;
        }
    </style>
</head>

<body class="header-light sidebar-dark sidebar-expand">
<div id="wrapper" class="wrapper">
    <!-- .navbar -->
    <% include ../partials/navbar %>
    <!-- /.navbar -->
    <div class="content-wrapper">
        <!-- SIDEBAR -->
        <% include ../partials/aside %>
        <!-- SIDEBAR -->
        <main class="main-wrapper clearfix">
            <!-- Page Title Area -->
            <div class="row page-title clearfix">
                <div class="page-title-left">
                    <h5 class="mr-0 ml-r-5"><%= title %></h5>
                </div>
                <!-- /.page-title-left -->
            </div>
            <!-- /.page-title -->
            <!-- =================================== -->
            <!-- Different data widgets ============ -->
            <!-- =================================== -->
            <div class="widget-list">
                <div class="row">
                    <div class="col-md-12 widget-holder">
                        <div class="widget-bg">
                            <div class="widget-body clearfix">
                                <h5>دستورالعمل :</h5>
                                <br>
                                <p>سعی کنید با سرعت زیاد آهسته کار نکنید. در ابتدا ممکن است تشخیص ریزحالات با سرعت زیاد برایتان مشکل باشد ولی با گذشت زمان و تمرین و تکرار تشخیصشان برایتان آسان‌تر خواهد شد.
                                        اگر در آزمون ثانویه نتوانستید نمره 80% یا بهتر بگیرید، لطفا دوباره تمرین و آموزش را انجام دهید، سپس به بخش تنظیم سرعت آمده و سرعت را آهسته‌تر کنید و دوباره تست را انجام دهید. زمانی که توانستید نمره 80% یا بهتر به دست آورید، دوباره به این بخش (بخش تنظیم سرعت) آمده و سرعت را افزایش دهید. این چرخه را تا آخرین حد ممکن از افزایش سرعت ادامه دهید تا زمانی که به بالاترین توانایی ممکن در تشخیص ریزحالات چهره برسید.
                                        </p>
                            </div>
                            <!-- /.widget-body -->
                        </div>
                        <!-- /.widget-bg -->
                    </div>
                    <div class="col-md-4 widget-holder">
                        <div class="widget-bg">
                            <div class="widget-body clearfix">
                                <div style="max-width: 300px;">
                                    <img id="firstTestPic" src="/assets/demo/e-commerce/1.jpg">
                                    <img id="secondTestPic" class="hide" src="/assets/demo/e-commerce/2.jpg">
                                </div>
                                <br>
                                <button class="btn btn-default ripple" style="margin: auto; display: block;" id="test">test</button>
                            </div>
                            <!-- /.widget-body -->
                        </div>
                        <!-- /.widget-bg -->
                    </div>
                    <div class="col-md-8 widget-holder">
                        <div class="widget-bg" style="min-height:300px;">
                            <div class="widget-body clearfix">
                                <form action="/dashboard/set-speed" method="POST">
                                    <h5 class="box-title">Basic Slider with Grid</h5>
                                    <input id="speed" type="text" name="speed" data-toggle="rangeslider" data-grid="true" data-grid-num="2" data-from="<%=speed %>" data-min="20" data-max="300" data-force-edges="true" data-step="20">
                                    <br><br><br>
                                    <input class="btn btn-success btn ripple" style="margin: auto; display: block;" type="submit">
                                </form>
                            </div>
                            <!-- /.widget-body -->
                        </div>
                        <!-- /.widget-bg -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.widget-list -->
        </main>
        <!-- /.main-wrappper -->
        <!-- RIGHT SIDEBAR -->
        <aside class="right-sidebar scrollbar-enabled">
            <div class="sidebar-chat" data-plugin="chat-sidebar">
                <div class="sidebar-chat-info">
                    <h3>Chat</h3>
                    <p class="text-muted">You can chat with your family and friends in this space.</p>
                </div>
                <div class="chat-list">
                    <h6 class="sidebar-chat-subtitle">Online</h6>
                    <div class="list-group row">
                        <a href="javascript:void(0)" class="list-group-item user--online thumb-xs"
                           data-chat-user="Julein Renvoye">
                            <img src="/assets/demo/users/user1.jpg" class="rounded-circle" alt=""> <span class="name">Julien Renvoye</span>
                            <span class="username">@jrenvoye</span>
                        </a>
                        <a href="javascript:void(0)" class="list-group-item user--online thumb-xs"
                           data-chat-user="Eddie Lebanovkiy">
                            <img src="/assets/demo/users/user2.jpg" class="rounded-circle" alt=""> <span class="name">Eddie Lebanovskiy</span>
                            <span class="username">@elebano</span>
                        </a>
                        <a href="javascript:void(0)" class="list-group-item user--away thumb-xs"
                           data-chat-user="Cameron Moll">
                            <img src="/assets/demo/users/user3.jpg" class="rounded-circle" alt=""> <span class="name">Cameron Moll</span>
                            <span class="username">@cammoll</span>
                        </a>
                        <a href="javascript:void(0)" class="list-group-item user--busy thumb-xs"
                           data-chat-user="Bill S Kenny">
                            <img src="/assets/demo/users/user7.jpg" class="rounded-circle" alt=""> <span class="name">Bill S Kenny</span>
                            <span class="username">@billsk</span>
                        </a>
                        <a href="javascript:void(0)" class="list-group-item user--busy thumb-xs"
                           data-chat-user="Trent Walton">
                            <img src="/assets/demo/users/user6.jpg" class="rounded-circle" alt=""> <span class="name">Trent Walton</span>
                            <span class="username">@trentwalton</span>
                        </a>
                    </div>
                    <!-- /.list-group -->
                </div>
                <!-- /.chat-list -->
                <div class="chat-list">
                    <h6 class="sidebar-chat-subtitle">Offline</h6>
                    <div class="list-group row">
                        <a href="javascript:void(0)" class="list-group-item user--offline thumb-xs"
                           data-chat-user="Julien Renvoye">
                            <img src="/assets/demo/users/user1.jpg" class="rounded-circle" alt=""> <span class="name">Julien Renvoye</span>
                            <span class="username">@jrenvoye</span>
                        </a>
                        <a href="javascript:void(0)" class="list-group-item user--offline thumb-xs"
                           data-chat-user="Eddie Lebaovskiy">
                            <img src="/assets/demo/users/user2.jpg" class="rounded-circle" alt=""> <span class="name">Eddie Lebanovskiy</span>
                            <span class="username">@elebano</span>
                        </a>
                        <a href="javascript:void(0)" class="list-group-item user--offline thumb-xs"
                           data-chat-user="Cameron Moll">
                            <img src="/assets/demo/users/user3.jpg" class="rounded-circle" alt=""> <span class="name">Cameron Moll</span>
                            <span class="username">@cammoll</span>
                        </a>
                        <a href="javascript:void(0)" class="list-group-item user--offline thumb-xs"
                           data-chat-user="Bill S Kenny">
                            <img src="/assets/demo/users/user7.jpg" class="rounded-circle" alt=""> <span class="name">Bill S Kenny</span>
                            <span class="username">@billsk</span>
                        </a>
                        <a href="javascript:void(0)" class="list-group-item user--offline thumb-xs"
                           data-chat-user="Trent Walton">
                            <img src="/assets/demo/users/user6.jpg" class="rounded-circle" alt=""> <span class="name">Trent Walton</span>
                            <span class="username">@trentwalton</span>
                        </a>
                    </div>
                    <!-- /.list-group -->
                </div>
                <!-- /.chat-list -->
            </div>
            <!-- /.sidebar-chat -->
        </aside>
        <!-- CHAT PANEL -->
        <div class="chat-panel" hidden>
            <div class="card">
                <div class="card-header">
                    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <button type="button" class="minimize" aria-label="Minimize"><span aria-hidden="true"><i
                            class="material-icons">expand_more</i></span>
                    </button>
                    <span class="user-name">John Doe</span>
                </div>
                <!-- /.card-header -->
                <div class="card-block custom-scroll">
                    <div class="messages custom-scroll-content scrollbar-enabled">
                        <div class="current-user-message">
                            <img class="user-image" width="30" height="30" src="/assets/demo/users/user1.jpg" alt="">
                            <div class="message">
                                <p>Lorem ipsum dolor sit amet?</p>
                                <small>10:00 am</small>
                            </div>
                            <!-- /.message -->
                        </div>
                        <!-- /.current-user-message -->
                        <div class="other-user-message">
                            <img class="user-image" width="30" height="30" src="/assets/demo/users/user2.jpg" alt="">
                            <div class="message">
                                <p>Etiam rhoncus. Maecenas tempus, tellus eget condi mentum rhoncus</p>
                                <small>10:00 am</small>
                            </div>
                            <!-- /.message -->
                        </div>
                        <!-- /.other-user-message -->
                        <div class="current-user-message">
                            <img class="user-image" width="30" height="30" src="/assets/demo/users/user1.jpg" alt="">
                            <div class="message">
                                <img src="/assets/demo/chat-message.jpg" alt="">
                                <small>10:00 am</small>
                            </div>
                            <!-- .,message -->
                        </div>
                        <!-- /.current-user-message -->
                        <div class="current-user-message">
                            <img class="user-image" width="30" height="30" src="/assets/demo/users/user1.jpg" alt="">
                            <div class="message">
                                <p>Maecenas nec odio et ante tincidunt tempus.</p>
                                <small>10:00 am</small>
                            </div>
                            <!-- .,message -->
                        </div>
                        <!-- /.current-user-message -->
                        <div class="other-user-message">
                            <img class="user-image" width="30" height="30" src="/assets/demo/users/user2.jpg" alt="">
                            <div class="message">
                                <p>Donec sodales :)</p>
                                <small>10:00 am</small>
                            </div>
                            <!-- /.message -->
                        </div>
                        <!-- /.other-user-message -->
                    </div>
                    <!-- /.messages -->
                    <form action="javascript:void(0)" method="post">
                        <textarea name="message" style="resize: none"
                                  placeholder="Type message and hit enter"></textarea>
                        <ul class="list-unstyled list-inline chat-extra-buttons">
                            <li class="list-inline-item"><a href="javascript:void(0)"><i class="material-icons">insert_emoticon</i></a>
                            </li>
                            <li class="list-inline-item"><a href="javascript:void(0)"><i class="material-icons">attach_file</i></a>
                            </li>
                        </ul>
                        <button class="btn btn-color-scheme btn-circle submit-btn" type="submit"><i
                                class="material-icons">send</i>
                        </button>
                    </form>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.chat-panel -->
    </div>
    <!-- /.content-wrapper -->
    <!-- FOOTER -->
    <% include ../partials/footer %>
</div>
<!--/ #wrapper -->
<!-- Scripts -->
<% include ../partials/scripts %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.1.7/js/ion.rangeSlider.min.js"></script>
<script>
    $(document).ready(function(){
        $("#test").click(function(){
            setTimeout(function() {
                $("#firstTestPic").toggleClass("hide");
                $("#secondTestPic").toggleClass("hide");
                setTimeout(function() {
                    $("#firstTestPic").toggleClass("hide");
                    $("#secondTestPic").toggleClass("hide");
                }, $('#speed').val() );
            }, 1000);
        });
    });
</script>
</body>

</html>
